{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMS | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="shortcut icon" href="{% static "logo.png" %}" type="image/x-icon">
    <style>
        *{
            
        }
    </style>
</head>
<body>

<div class="navbar bg-base-100 lg:w-[80dvw] m-auto h-[10dvh]">
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl" href="{% url "core:index" %}">HMS</a>
</div>
<div class="navbar-end">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a>Dashboard</a></li>
        <li>
          <a>Account</a> 
          <ul class="p-2">
            {% if request.user.is_authenticated %}
            <li><a>Profile</a></li>
            <li><a href="{% url "accounts:logout" %}" class="link link-hover link-error">Logout</a></li>
            {% else %}
            <li><a href="{% url "accounts:signup" %}" class="link link-hover">Sign Up</a></li>
            <li><a href="{% url "accounts:login" %}" class="link link-hover">Log In</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
</div>
  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a>Dashboard</a></li>
      <li>
        <details>
          <summary>Account</summary>
          <ul class="p-2 bg-base-100 w-40 z-1">
            {% if request.user.is_authenticated %}
            <li><a>Profile</a></li>
            <li><a href="{% url "accounts:logout" %}" class="link link-hover link-error">Logout</a></li>
            {% else %}
            <li><a href="{% url "accounts:signup" %}" class="link link-hover">Sign Up</a></li>
            <li><a href="{% url "accounts:login" %}" class="link link-hover">Log In</a></li>
            {% endif %}
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>

<div class="lg:w-[75dvw] m-auto min-h-[90dvh]">
  {% block content %}{% endblock %}
</div>


    <script src="{% static "index.js" %}"></script>
</body>
</html>