{% extends "core/base.html" %} 
{% load static %}
{% block title %}Signup{% endblock %} 

{% block content %}

<div class="flex h-[60%] lg:flex-row-reverse flex-col-reverse lg:gap-0 gap-5 lg:border-3 border-base-300 p-5 rounded-box translate-y-1/6">
  <form action="{% url "accounts:signup" %}" method="post" class="flex flex-col lg:w-[40%] w-[70%] m-auto gap-2">
    {% csrf_token %}
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Username</legend>
      {{ form.username }}
      {% if form.username.errors %}
        {% for error in form.username.errors %}
            <p class="text-error font-bold">{{error}}</p>
        {% endfor %}
      {% endif %}
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Password</legend>
      {{ form.password }}
    {% if form.password.errors %}
        {% for error in form.password.errors %}
            <p class="text-error font-bold">{{error}}</p>
        {% endfor %}
    {% endif %}
    </fieldset>
    <p>Already have an account? <a class="link link-primary" href="{% url "accounts:login" %}">login</a></p>

    <button class="btn btn-neutral">Sign Up</button>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="text-error font-bold">{{error}}</p>
        {% endfor %}
    {% endif %}
  </form>

  <img class="lg:max-h-[50dvh] max-h-[30dvh]" src="{% static "svgs/signup.svg" %}" alt="signup">
  

</div>
{% endblock %}
